---
layout: base
permalink: /index.html
title: 'Sproutware Consulting'
description: 'Eleventy starter using modern CSS, fluid type, fluid spacing, flexible layout and progressive enhancement.'
blog:
  title: 'Blog'
  intro: "I'm showing the last 4 blog posts, but there might be more!"
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      <h1 class="text-center" style="color: var(--color-light);">{{ title }}</h1>
    </div>

    {% svg "divider/waves", null, "seperator" %}
  </header>

  <article class="full | region">
    <div class="wrapper flow prose">
      <h2 id="an-eleventy-starter">Rooted in Experience</h2>
      <p>
        At Sproutware Consulting, I bring over a decade of experience as a software engineer with roots in both the tech industry and education (I used to be a science teacher!)<br />
      </p>
      <p>
        I’ve built and managed complex legacy systems for Fortune 500 companies including <mark>Alaska Air Group, Marathon Petroleum, and Columbia Bank.</mark> I've also started from just the seed of an idea at fledgling startups like <mark>Tripchamp, Sync1Systems and Q2.</mark> I use the same philosophy everytime: relationships and understanding first, then code.
      </p>
      <p> 
        With deep knowledge in the Microsoft stack, Azure cloud architecture, and modern front-end frameworks like Angular and React, I provide bespoke software solutions that balance innovation with stability. 
        Whether it's streamlining operations, crafting elegant user experiences, or integrating cutting-edge AI, my goal is always to help businesses flourish.
      </p>
      <p>
        <strong>This is my personal site</strong> if you like it...
      </p>
      <p><strong><a href=/projects>Check out my work!</a></strong> and let me know if you want to <a href="/contact">get in touch!</a></p>
    </div>
  </article>

  {# <section class="full | region">
    <div class="wrapper flow prose">
      <h2>{{ blog.title }}</h2>
      <!-- blog intro text is optional. -->

      {% if blog.intro %}
        <p>{{ blog.intro }}</p>
      {% endif %}

      <div class="feature |  region region-space-l">
        <custom-masonry layout="50-50">
          <!-- loop posts -->
          {% set itemList = collections.allPosts %}
					{% asyncEach item in itemList.slice(0, 4) %}
						{% set definedDate = item.date %}
						{% include "partials/card-blog.njk" %}
					{% endeach %}
        </custom-masonry>
      </div>
    </div>
  </section> #}
</div>
